@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

 

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  overflow-y: auto;
  
}

a {
  color: inherit;
  text-decoration: none;
   
}

* {
  box-sizing: border-box;
}
 